body {
    margin: 5% 5%;
}

#content {
    max-width: 800px;
}

li.no-indent {
    margin-left: -15px;
    font-weight: bold;
}

/*
Bootstrap CSS overrides
*/

.page-header {
    margin-top: -54px;
}

.nav {
    max-width: 230px;
}

h1 {
    margin-top: 1.5em;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: #666;
    text-shadow: none;
}

.carousel-indicators li {
    background-color: #bbb;
}
.carousel-indicators .active {
    background-color: #000;
}

.carousel-indicators {
    bottom:-40px;
}

.carousel-inner {
    margin-bottom:50px;
}

/*
Center carousel images
*/

.carousel-inner > .item > img {
    margin: 0 auto;
}

.figure-caption {
    font-style: italic;
    margin: 10px 0 0 5px;
    color: #666;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
    border-left: 3px black solid;
    font-weight: bold;
    color: #000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 3px 10px;
    font-size: 13px;
    border-left: 3px white solid;
    color: #555;
}


.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
